a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

.mainNavBar {
  height: 40px;
  display: flex;
  background-color: #232f3e;
  color: #fff;
  padding: 3px 20px;
}
.mainNavBar__left {
  flex: 0.1;
  display: flex;
  align-items: center;
}
.left__textBox {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8vw;
}
.mainNavBar__left span:last-child {
  font-weight: bold;
}
.mainNavBar__center {
  flex: 0.7;
  display: flex;
  align-items: center;
  font-size: 0.9vw;
  font-weight: bold;
}
.mainNavBar__center li + li {
  margin-left: 20px;
}
.mainNavBar__right {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1vw;
}
